@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
  overflow-y: hidden;
  font-family: 'Poppins', sans-serif;
}

.container{
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;    
}

.image{
  width: 60%;
  display: none;
}

/*buttons de next e previous*/
#prev{ 
  width: 71px;
  text-align: center; 
  background: #000000;
  position: absolute;
  top: 43%;
  left: 0;
  cursor: pointer;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  border-radius: 8px;
}

#next{
  width: 71px;
  text-align: center;
  background: #000000;
  position: absolute;
  top: 43%;
  right: 0;
  cursor: pointer;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  border-radius: 8px;
}

#prev:hover, #next:hover {
  background: rgba(0, 0, 0, 0.5);
} 

.dots{
  text-align: center;
  margin-top: 2%;
}

.dot{
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  /*Transição par ao proximo*/
  transition: background-color 0.6s ease;
}

/*no javascritp tem uma clase que faz o dot que está active. ficar com cinza escuro*/
.active{
  background-color: #717171;
} 

/*criação da animação fade quando estão trocando*/
/* create fade animation when switching between images */
.fade{
/* suporte de animação em outros browsers */
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
}

@keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
} 

@media(max-width:768px){
    .container{
        width: 100%;
    }
}

